<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <servlet>
        <servlet-name>LiveJournalServlet</servlet-name>
        <servlet-class>com.hbedv.livejournal.LiveJournalServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LiveJournalServlet</servlet-name>
        <url-pattern>/livejournal</url-pattern>
    </servlet-mapping>
</web-app>



